{% extends "base.html" %}



{% block content%}
    <div class="container" style="margin: 0 auto">
        <div class="col-md-10 col-md-offset-1" style="margin: 0 auto">
            <div class="row align-items-center" style="margin: 0 auto">
                <div class="col-md-6" style="margin: 0 auto">
                    <h1 class="display-4 centre" style="margin: 0 auto">Вітаю Вас, {{new_user.username}}</h1>
                    <p class="centre" style="margin: 0 auto">Ви зареєструвалися в системі.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}